        /*!
 * Custom CSS
 * Alvin
 * Date: 2018-03-22 11:05
 */

        $color_white: #fff;
        $text_black:#1a202b;
        $dark_gray: #6f7276;
        $mid_gray:#a7a8ab;
        $light_gray: #f2f3f5;
        $border_gray:#d9e2e7;
        $button_blue:#22aaeb;
        $dark_blue:#2a58ad;
        $mid_blue:#bce5f9;
        $light_blue:#eef8fd;
        $placeholder:#a7a8ab;
        $color_red:#ec7a5f;
        $color_green:#83ca57;
        $color_yellow:#ddd846;
        body {
            color: #1a202b;
            font-family: 'Microsoft YaHei UI Regular';
            font-size: 14px;
        }

        .mainbody {
            background: $color_white;
            padding: 20px;
        }

        //禁止选择文字
        .set-language {
            -ms-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        //全局
        .navbar .right-menu {
            margin-right: 30px;
        }

        #app .sidebar-container {
            width: 240px !important;
            .logo {
                width: 110px;
                display: block;
                margin: 30px auto;
            }
        }

        .align-right {
            text-align: right;
        }

        //按钮
        .el-button {
            height: 42px;
            i {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .el-button--text {
            height: auto;
            color: $button_blue;
        }

        .btn-sub,
        .is-plain {
            color: $button_blue;
            border-color: $button_blue;
        }

        .el-button--primary {
            background: $button_blue;
        }

        //文本框、下拉框默认文字颜色
        .el-input__inner,
        .el-select-dropdown__item {
            color: $text_black;
        }

        .el-select-dropdown__item.selected {
            color: $button_blue;
        }

        ,
        .el-input__inner,
        .el-input__inner:hover {
            border-color: $border_gray;
        }

        .el-input__inner:focus {
            border-color: $button_blue;
        }

        //placeholder
         ::-webkit-input-placeholder {
            color: $placeholder;
        }

         :-moz-placeholder {
            color: $placeholder;
        }

         ::-moz-placeholder {
            color: $placeholder;
        }

         :-ms-input-placeholder {
            color: $placeholder;
        }

        //tab
        .el-tabs__active-bar {
            display: none;
        }

        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__item.is-active,
        .el-tabs__item:hover {
            color: #22aaeb;
        }

        .el-tabs__header {
            margin: 0;
            padding: 15px 0;
        }

        .el-tabs__item {
            height: auto;
            line-height: 22px;
            font-size: 15px;
        }

        //顶部导航
        .sub-navbar {
            font-size: 14px;
            vertical-align: middle;
            transition: none;
            //background: linear-gradient(90deg, rgba(21, 56, 124, 0) 0%, rgba(21, 56, 124, 0) 0%, rgba(21, 56, 124, 0) 100%, rgba(21, 56, 124, 0) 100%);
            //background: #2a58ad;
            background: $color_white;
            height: 100px;
            line-height: 100px;
            border-bottom: 1px solid #d9e2e7;
            width: 100%;
            z-index: 999;
            .topMenu {
                display: inline-block;
                .el-button {
                    margin-right: 10px;
                    padding: 0;
                    color: #1a202b;
                    position: relative;
                    height: 100px;
                    width: 80px;
                    cursor: pointer;
                }
                .el-button.active {
                    color: #22aaeb;
                }
                .el-button.active::after,
                .el-button:hover::after {
                    content: "";
                    height: 3px;
                    background: #22aaeb;
                    width: 70%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            //铃铛
            .notify {
                position: relative;
                text-align: left;
                width: 50px;
                cursor: pointer;
                i {
                    font-size: 32px;
                    color: #1a202b;
                    vertical-align: middle;
                }
                .el-badge__content {
                    background: #22aaeb;
                    top: 42px;
                    right: auto;
                    left: 0px;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            //工作台切换语言
            .lang-global {
                width: 50px;
                text-align: center;
                .svg-icon {
                    width: 25px;
                    height: 25px;
                    vertical-align: -7px;
                }
            }
            //右上角头像
            .profile {
                color: #1a202b;
                cursor: pointer;
                img {
                    width: 35px;
                    height: 35px;
                    vertical-align: middle;
                    display: inline-block;
                    margin: 0 10px;
                }
                i {
                    margin-left: 20px;
                    font-size: 20px;
                }
            }
            .com-logo {
                height: 30px;
                vertical-align: middle;
            }
            .logout {
                background: none;
                border: none;
            }
        }

        //左侧菜单
        .scroll-container {
            background-color: #2a58ad!important;
            a {
                background: #2a58ad;
            }
        }

        //面包屑
        .el-breadcrumb {
            margin-bottom: 10px;
            .el-breadcrumb__item {
                &:last-child {
                    .el-breadcrumb__inner {
                        color: #22aaeb;
                    }
                }
            }
        }

        //表格
        .el-table {
            border-radius: 5px;
            table {
                border: none;
            }
            .el-table__header tr {
                background: #d9e2e7;
            }
            th,
            td {
                padding-left: 20px;
            }
            th.is-leaf {
                border: none;
            }
            td {
                border-top: 1px solid transparent;
                border-bottom-color: #ebeef5;
                &:first-child {
                    border-left: 1px solid transparent;
                }
                &:last-child {
                    border-right: 1px solid transparent;
                }
            }
            tr:last-child {
                &:hover {
                    td {
                        border-bottom: 1px solid #22aaeb;
                        z-index: 9;
                    }
                }
                td {
                    &:first-child {
                        border-radius: 0 0px 0px 5px;
                    }
                    &:last-child {
                        border-radius: 0 0px 5px 0;
                    }
                }
            }
            tr:hover {
                td {
                    border-top: 1px solid #22aaeb;
                    border-bottom-color: #22aaeb;
                    &:first-child {
                        border-left: 1px solid #22aaeb;
                    }
                    &:last-child {
                        border-right: 1px solid #22aaeb;
                    }
                }
            }
        }

        .el-table--enable-row-hover .el-table__body tr:hover>td {
            background: $color_white;
        }

        #app {
            .el-menu-item,
            .el-submenu__title {
                color: $color_white;
                height: 42px;
                line-height: 42px;
            }
            .el-menu-item:focus {
                background: #23aaec !important;
            }
            .el-menu-item:hover {
                background: #23aaec !important;
            }
            .el-submenu {
                color: $color_white;
                .el-menu-item {
                    color: $color_white;
                    background: #2a58ad !important;
                }
                .el-menu-item:hover {
                    background: #23aaec !important;
                }
                .router-link-active .el-menu-item {
                    background: #23aaec !important;
                }
                .el-menu-item.is-active {
                    color: $color_white;
                }
                .el-submenu__title {
                    color: $color_white;
                    background: #2871c0;
                    i {
                        color: $color_white;
                    }
                }
            }
            .el-submenu>.el-submenu__title .el-submenu__icon-arrow {
                transform: rotateZ(-90deg);
            }
            .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
                transform: rotateZ(0deg);
            }
        }

        //主体部分
        #app .main-container {
            margin-left: 240px;
            background: #f2f3f5;
            .el-menu--horizontal {
                display: none;
            }
        }

        .app-main {
            padding: 20px;
        }

        //我的工作台
        .dashboard-container {
            .el-col {
                margin-bottom: 20px;
            }
            .el-col .component-item {
                line-height: 30px;
            }
            .col-right {
                padding: 0 7px;
            }
            .el-card__header {
                padding: 15px 20px;
                border: none;
                font-size: 15px;
                .el-badge__content {
                    top: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    font-size: 12px;
                    border-radius: 50%;
                    vertical-align: middle;
                    padding: 0;
                    margin-left: 10px;
                    background: #ec7a5f;
                }
            }
            //tab
            .el-tab-pane {
                height: 190px;
            }
            .tab-product {
                .el-tab-pane {
                    height: auto;
                }
            }
            //项目
            .el-card__body {
                padding: 0px 20px 15px;
                position: relative;
                ul {
                    list-style: none;
                    margin: 0 auto;
                    padding: 0;
                }
            }
            .card-resource {
                margin-top: 20px;
            }
            //待办事项列表
            .tipsList {
                li {
                    background: #eff8fd;
                    padding: 15px;
                    border-radius: 5px;
                    height: 80px;
                    margin-bottom: 15px;
                    border: 1px solid transparent;
                    align-items: center;
                    display: flex;
                }
                li:hover {
                    background: $color_white;
                    border-color: #22aaeb;
                }
                .circle {
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    line-height: 50px;
                    border-radius: 50%;
                    color: $color_white;
                    text-align: center;
                    flex-shrink: 0;
                    overflow: hidden;
                }
                .circle-blue {
                    background: #23aaec;
                }
                .circle-red {
                    background: #ec7a5f;
                }
                .circle-yellow {
                    background: #ddd846;
                }
                .circle-green {
                    background: #83ca57;
                }
                .right {
                    position: relative;
                    padding-left: 20px;
                    line-height: normal;
                    div {
                        font-size: 12px;
                        color: #1a202b;
                        line-height: normal;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    span {
                        font-size: 12px;
                        color: #a7a8ab;
                    }
                }
                li.unread .right:before {
                    content: "";
                    background: #ec7a5f;
                    position: absolute;
                    left: 8px;
                    top: 6px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                }
            }
            .user-info {
                .component-item {
                    height: 340px;
                }
            }
            .userProfile {
                li {
                    background: none;
                    padding: 0;
                    border-radius: 5px;
                    height: 80px;
                    margin-bottom: 15px;
                    border: none;
                }
                li:hover {
                    background: none;
                }
                .circle {
                    width: 60px;
                    height: 60px;
                    vertical-align: middle;
                    line-height: 60px;
                }
                .right {
                    position: relative;
                    padding-left: 20px;
                    line-height: normal;
                    div {
                        font-size: 12px;
                        color: #6f7276;
                        line-height: normal;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    .tags {
                        margin-top: 5px;
                        span {
                            color: $color_white;
                            display: inline-block;
                            border-radius: 15px;
                            padding: 0 10px;
                            vertical-align: middle;
                        }
                        .tag-rz {
                            font-size: 12px;
                            background: #23aaea;
                            height: 30px;
                            line-height: 30px;
                            b {
                                font-size: 18px;
                                font-weight: 800;
                                font-style: italic;
                                margin-right: 5px;
                                vertical-align: middle;
                            }
                        }
                        .tag-lv {
                            font-size: 12px;
                            background: #84ca58;
                            height: 20px;
                            line-height: 20px;
                            font-style: italic;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .svg-icon.workman {
                height: 9em;
                width: auto;
                left: 0px;
                bottom: 30px;
                position: absolute;
            }
            //下面三块
            .box-bottom {
                .component-item {
                    height: 190px;
                }
            }
            .see-more {
                text-align: right;
                .btn-sub {
                    width: 150px;
                    padding: 0;
                }
                .el-button--text {
                    padding: 0;
                    color: #22aaeb;
                }
            }
            .el-col .el-row:last-child .el-col {
                margin-bottom: 0px;
            }
            //卡片阴影
            .el-card {
                //  border: 1px solid #ebeef5;
                background-color: $color_white;
                -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
                box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
                color: #303133;
            }
            .el-carousel__container {
                //      margin-bottom: 20px;
            }
            .imgSlide {
                margin-bottom: 20px;
            }
            .imgSlide img,
            .img-newProduct {
                width: 100%;
                border-radius: 5px;
            }
            .imgSlide img {}
            //新品发布
            .newDec {
                font-size: 12px;
                margin-bottom: 5px;
                line-height: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            //产品需求
            .form-xuqiu {
                margin-top: 10px;
                .el-select {
                    width: 100%;
                }
                .el-form-item {
                    margin-bottom: 0;
                    width: 100%;
                    .el-form-item__content {
                        width: calc(100% - 80px);
                    }
                }
                textarea {
                    resize: none;
                    height: 215px;
                }
            }
            //我的资源
            .productRz {
                li {
                    background: $button_blue;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    vertical-align: middle;
                    border-radius: 5px;
                    color: $color_white;
                    font-weight: bold;
                    text-align: center;
                    display: inline-block;
                    margin: 10px;
                }
            }
        }

        //SDK发布申请单
        .sdk-container {
            h3 {
                margin: 0 auto;
                padding: 20px 20px 0;
            }
            .form-title {
                font-size: 18px;
                padding: 25px;
                border-top: 1px solid $border_gray;
                margin-top: 20px;
            }
            .form-title.no-pb {
                padding-bottom: 0;
            }
            .skd-form {
                .el-row {
                    padding: 0 25px;
                }
                .el-form-item {
                    margin-bottom: 10px;
                }
                .el-input--medium,
                .el-select {
                    width: 100%;
                }
                .btn-group {
                    margin: 20px 20px 0;
                    padding: 25px 0 10px;
                    border-top: 1px solid $border_gray;
                }
                .tb-customer {
                    margin: 20px 20px 0;
                    width: auto;
                }
            }
        }

        //登录、注册底部版权
        .copyright {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 88px;
            margin: 0 auto;
            vertical-align: middle;
            line-height: 88px;
            border-top: 1px solid $dark_gray;
            .copy-container {
                margin-left: 10%;
                position: relative;
                width: 80%;
            }
            .company {
                color: $color_white;
                display: inline-block;
            }
            .company-gray {
                color: $dark_gray;
                display: inline-block;
            }
            .set-language {
                position: absolute;
                right: 0;
                top: 50%;
                min-width: 163px;
                transform: translateY(-50%);
                border-radius: 5px;
                color: $dark_gray;
                border: 1px solid $dark_gray;
                line-height: normal;
                vertical-align: middle;
                cursor: pointer;
                .el-dropdown-selfdefine {
                    height: 42px;
                    line-height: 42px;
                    width: 100%;
                    padding: 0 20px;
                }
                i.el-icon-arrow-down {
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
        }

        //登录
        .login-container {
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: $color_white;
            .login-left {
                color: $color_white;
                margin: 45px 0 0 10%;
                width: 300px;
                position: absolute;
                .login-logo {
                    height: 42px;
                }
                h3 {
                    font-size: 30px;
                    //          border-top: 1px solid $dark_gray;
                    margin: 45px 0 0 0;
                    padding: 32px 0 20px 0;
                    position: relative;
                    div {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
                    }
                }
                ul {
                    list-style: inherit;
                    padding: 0;
                    margin: 0 0 0 20px;
                    li {
                        margin-bottom: 10px;
                    }
                }
            }
            .el-input {
                display: inline-block;
                height: 42px;
                width: 100%;
                input {
                    background: transparent;
                    border: 1px solid $border_gray;
                    -webkit-appearance: none;
                    border-radius: 5px;
                    padding: 12px 5px 12px 15px;
                    color: $text_black;
                    height: 42px;
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px $color_white inset !important;
                        -webkit-text-fill-color: $color_white !important;
                    }
                }
            }
            .el-form-item {
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                color: #454545;
            }
            .login-form {
                position: absolute;
                right: 10%;
                width: 430px;
                padding: 35px;
                margin-top: 120px;
                border-radius: 5px;
                background: $color_white;
            }
            .el-button,
            .btn-login {
                width: 100%;
            }
            .go-reg {
                span.tips-reg {
                    display: block;
                    color: $dark_gray;
                    text-align: center;
                    margin-top: 30px;
                    padding: 18px 0;
                    border-top: 1px solid $mid_gray;
                }
            }
            .title-container {
                position: relative;
                .title {
                    font-size: 30px;
                    font-weight: 400;
                    color: $text_black;
                    margin: 0px auto 28px auto;
                    text-align: center;
                    font-weight: bold;
                }
                .set-language {
                    color: $color_white;
                    position: absolute;
                    top: 5px;
                    right: 0px;
                }
            }
        }

        //注册
        .reg-container {
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: $light_gray;
            .reg_logo {
                display: block;
                margin: 25px auto;
                height: 42px;
            }
            .reg-form {
                background: $color_white;
                //          height: calc(100% - 102px - 130px);
                padding-bottom: 40px;
                h3 {
                    text-align: center;
                    font-size: 30px;
                    padding: 40px 0 30px 0;
                    margin: 0;
                }
                .form-content {
                    width: 400px;
                    margin: 0 auto;
                    .el-form-item,
                    .el-checkbox {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .el-select {
                        width: 100%;
                    }
                    .el-checkbox {
                        margin-bottom: 20px;
                        color: $mid_gray;
                        .el-checkbox__inner {
                            border-color: $button_blue;
                        }
                    }
                    .el-checkbox__input.is-checked+.el-checkbox__label {
                        color: $mid_gray;
                    }
                    .el-checkbox__input.is-checked .el-checkbox__inner {
                        background: $button_blue;
                    }
                }
                .el-form-item {
                    position: relative;
                }
            }
            .el-button,
            .btn-reg {
                width: 100%;
            }
            .copyright {
                border: none;
            }
            .go-login {
                text-align: center;
                span.tips-reg {
                    color: $dark_gray;
                }
                .el-button {
                    display: inline-block;
                    width: auto;
                }
            }
            .company-gray {
                text-align: center;
                display: block;
            }
        }

        //注册页面语言下拉框弹出宽度
        .lang-menu {
            width: 163px;
        }

        .el-dropdown-menu__item:not(.is-disabled):hover {
            color: $button_blue;
            background: $light_blue;
        }

        //注册提示
        .el-tooltip__popper.is-light.tooltip-reg {
            color: #a7a8ab;
            border-color: #d9e2e7;
            width: 200px;
            .popper__arrow,
            .popper__arrow::after {
                display: none;
            }
        }

        //自适应
        @media screen and (min-width:1920px) {
            //登录
            .login-container {
                .login-left {
                    margin: 45px 0 0 15%;
                }
                .login-form {
                    right: 15%;
                }
                .copyright {
                    .copy-container {
                        margin-left: 15%;
                        width: 70%;
                    }
                }
            }
            //注册
            .reg-container {
                .reg_logo {
                    margin: 45px auto;
                }
                .reg-form {
                    height: calc(100% - 133px - 173px);
                    .form-content {
                        width: 480px;
                    }
                }
            }
        }

        @media screen and (max-width:1279px) {
            //登录
            .reg-container {
                .copyright {
                    .copy-container {
                        margin-left: 5%;
                        width: 90%;
                    }
                }
            }
        }